{{ $mainjs := resources.Get "js/alpine.js" | js.Build }}
<script src="{{ $mainjs.RelPermalink }}" defer></script>
<script>
    function carousel() {
      return {
        init() {
          
        },
        scrollLeft() {
          this.$refs.carousel.scrollBy({ left: -300, behavior: 'smooth' });
        },
        scrollRight() {
          this.$refs.carousel.scrollBy({ left: 300, behavior: 'smooth' });
        },
      }
    }
</script>
<script>
  document.addEventListener('alpine:init', () => {
      Alpine.data('vietnameseAlphabet', () => ({
          currentVideo: null,
          currentLetter: null,
          
          alphabet: [
              { character: 'A', video: 'https://www.youtube.com/embed/VIDEO_ID_A' },
              { character: 'Ă', video: 'https://www.youtube.com/embed/VIDEO_ID_AW'},
              { character: 'Â', video: 'https://www.youtube.com/embed/VIDEO_ID_UH'},
              { character: 'B', video: 'https://www.youtube.com/embed/VIDEO_ID_B' },
              { character: 'C', video: 'https://www.youtube.com/embed/VIDEO_ID_C' },
              { character: 'D', video: 'https://www.youtube.com/embed/VIDEO_ID_D' },
              { character: 'Đ', video: 'https://www.youtube.com/embed/VIDEO_ID_DD' },
              { character: 'E', video: 'https://www.youtube.com/embed/VIDEO_ID_E'},
              { character: 'Ê', video: 'https://www.youtube.com/embed/VIDEO_ID_EY'},
              { character: 'F', video: 'https://www.youtube.com/embed/VIDEO_ID_F' },
              { character: 'G', video: 'https://www.youtube.com/embed/VIDEO_ID_G' },
              { character: 'H', video: 'https://www.youtube.com/embed/VIDEO_ID_H' },
              { character: 'I', video: 'https://www.youtube.com/embed/VIDEO_ID_I'},
              { character: 'K', video: 'https://www.youtube.com/embed/VIDEO_ID_K' },
              { character: 'L', video: 'https://www.youtube.com/embed/VIDEO_ID_L' },
              { character: 'M', video: 'https://www.youtube.com/embed/VIDEO_ID_M' },
              { character: 'N', video: 'https://www.youtube.com/embed/VIDEO_ID_N' },
              { character: 'O', video: 'https://www.youtube.com/embed/VIDEO_ID_O'},
              { character: 'Ô', video: 'https://www.youtube.com/embed/VIDEO_ID_OH'},
              { character: 'Ơ', video: 'https://www.youtube.com/embed/VIDEO_ID_UHOH'},
              { character: 'P', video: 'https://www.youtube.com/embed/VIDEO_ID_P' },
              { character: 'Q', video: 'https://www.youtube.com/embed/VIDEO_ID_Q' },
              { character: 'R', video: 'https://www.youtube.com/embed/VIDEO_ID_R' },
              { character: 'S', video: 'https://www.youtube.com/embed/VIDEO_ID_S' },
              { character: 'T', video: 'https://www.youtube.com/embed/VIDEO_ID_T' },
              { character: 'U', video: 'https://www.youtube.com/embed/VIDEO_ID_U'},
              { character: 'Ư', video: 'https://www.youtube.com/embed/VIDEO_ID_OO'},
              { character: 'V', video: 'https://www.youtube.com/embed/VIDEO_ID_V' },
              { character: 'X', video: 'https://www.youtube.com/embed/VIDEO_ID_X' },
              { character: 'Y', video: 'https://www.youtube.com/embed/VIDEO_ID_Y'}
          ],
          
          vowels: [
              { character: 'A', video: 'https://www.youtube.com/embed/VIDEO_ID_A' },
              { character: 'Ă', video: 'https://www.youtube.com/embed/VIDEO_ID_AW' },
              { character: 'Â', video: 'https://www.youtube.com/embed/VIDEO_ID_UH' },
              { character: 'E', video: 'https://www.youtube.com/embed/VIDEO_ID_E' },
              { character: 'Ê', video: 'https://www.youtube.com/embed/VIDEO_ID_EY' },
              { character: 'I', video: 'https://www.youtube.com/embed/VIDEO_ID_I' },
              { character: 'O', video: 'https://www.youtube.com/embed/VIDEO_ID_O' },
              { character: 'Ô', video: 'https://www.youtube.com/embed/VIDEO_ID_OH' },
              { character: 'Ơ', video: 'https://www.youtube.com/embed/VIDEO_ID_UHOH' },
              { character: 'U', video: 'https://www.youtube.com/embed/VIDEO_ID_U' },
              { character: 'Ư', video: 'https://www.youtube.com/embed/VIDEO_ID_OO' },
              { character: 'Y', video: 'https://www.youtube.com/embed/VIDEO_ID_Y' }
          ],
          
          consonants: [
              { character: 'B', video: 'https://www.youtube.com/embed/VIDEO_ID_B' },
              { character: 'C', video: 'https://www.youtube.com/embed/VIDEO_ID_C' },
              { character: 'D', video: 'https://www.youtube.com/embed/VIDEO_ID_D' },
              { character: 'Đ', video: 'https://www.youtube.com/embed/VIDEO_ID_DD' },
              { character: 'F', video: 'https://www.youtube.com/embed/VIDEO_ID_F' },
              { character: 'G', video: 'https://www.youtube.com/embed/VIDEO_ID_G' },
              { character: 'H', video: 'https://www.youtube.com/embed/VIDEO_ID_H' },
              { character: 'K', video: 'https://www.youtube.com/embed/VIDEO_ID_K' },
              { character: 'L', video: 'https://www.youtube.com/embed/VIDEO_ID_L' },
              { character: 'M', video: 'https://www.youtube.com/embed/VIDEO_ID_M' },
              { character: 'N', video: 'https://www.youtube.com/embed/VIDEO_ID_N' },
              { character: 'P', video: 'https://www.youtube.com/embed/VIDEO_ID_P' },
              { character: 'Q', video: 'https://www.youtube.com/embed/VIDEO_ID_Q' },
              { character: 'R', video: 'https://www.youtube.com/embed/VIDEO_ID_R' },
              { character: 'S', video: 'https://www.youtube.com/embed/VIDEO_ID_S' },
              { character: 'T', video: 'https://www.youtube.com/embed/VIDEO_ID_T' },
              { character: 'V', video: 'https://www.youtube.com/embed/VIDEO_ID_V' },
              { character: 'X', video: 'https://www.youtube.com/embed/VIDEO_ID_X' }
          ],
          
          showVideo(letter) {
              this.currentVideo = letter.video;
              this.currentLetter = letter;
          },
          
          closeVideo() {
              this.currentVideo = null;
              this.currentLetter = null;
          }
      }));
  });
</script>