<div class="text-sm text-gray-700 mt-4">
  <p>
    Found this helpful? Others might too. Sharing this could be the nudge someone needs today.
  </p>
</div>
<div class="mt-4 flex gap-2 my-4">
    {{- range .Page.Params.share_platforms -}}
      {{- $icon := index $.Site.Data.icons .icon -}}
      {{- if $icon -}}
        <a href="{{ .url | safeHTML }}{{ $.Page.Permalink }}" target="_blank" rel="noopener" class="px-4 py-2 rounded" aria-label="Share on {{ .platform | title }}">
          <span class="{{ if eq .platform `x-twitter` }}h-5 w-5{{ else }}h-6 w-6{{ end }} text-gray-500 inline-block">
            {{ $icon | safeHTML }}
          </span>
        </a>
      {{- else -}}
        {{- warnf "Icon %q not found in data/icons.yaml for platform %q" .icon .platform -}}
      {{- end -}}
    {{- end -}}
</div>

<div x-data>
  <button class="fixed bottom-4 right-6 flex items-center space-x-2 bg-orange-800 text-white px-4 py-2 rounded-lg hover:bg-opacity-90 transition-all pulse z-50 shadow-lg md:bottom-6 md:right-8 sm:bottom-2 sm:right-2" @click="window.open('https://tally.so/r/w4qe6b', '_blank')">
    <span>Let's Talk</span>
  </button>
</div>